#sekmeler{
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer-sekmeler{
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#anasayfa{
    text-align: center;

}

#hakkimizda{
    text-align: center;
}

#adres{
    text-align: center;
}

.fotograflar{
    text-align: center;

}

.mugla-koylar{
    text-align: center;
}

.balikesir-koylar{
    text-align: center;
}

.antalya-koylar{
    text-align: center;
}

p{
    text-align: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

a{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

ul{
    list-style: none;
}

li{
    color: black;
    font-size: 20px;
}

